@import './default.scss';
@import './var.scss';

html, body {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background ;
  color: $color-text;
}

/* reset css */
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
    margin:0;
    padding: 0;
    border: none;
    background-color: transparent;
}
textarea {
  margin:0;
  padding: 0;
  border: none;
  background-color: transparent;
}
body {
    font-size: 14px;
}

img {
    border: none;
}

li {
    list-style-type: none;
}

input,
select,
textarea {
    outline: none;
}

textarea {
    resize:none;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",
               Helvetica,Arial,
               "Hiragino Sans GB",
               "Hiragino Sans GB W3",
               "Microsoft YaHei UI",
               "Microsoft YaHei",
               "WenQuanYi Micro Hei",
               sans-serif;
  -webkit-font-smoothing: antialiased;
}
